.cardBox {
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    padding: 12px 0;
    color: #fff;
    cursor: pointer;
}

.cardBox h1 {
    margin-bottom: 10px;
    font-weight: normal;
}

.cardBox p {
    font-size: 22px;
}