.eachInvoice {
    background-color: rgb(247, 244, 244);
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px 10px;
}

.dataInvoice {
    padding: 30px 10px 15px;
    margin: 10px 0;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #dbd3db;
    color: rgb(66, 63, 63);
    font-weight: 500;
    border: 1px solid rgb(197, 196, 196);
}

.item {
    margin-right: 10px;
}

.actions {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    top: 1px;
    right: 10px;
    cursor: pointer;
}

.totalInvoiceUser {
    text-align: right;
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: rgb(66, 63, 63);
}

@media (max-width: 420px) {
    .dataInvoice {
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
    }

    .item {
        display: block;
        text-align: center;
        order: 2;
        margin-right: 0px;
    }

    .value {
        display: block;
        text-align: center;
        margin-top: 10px;
        order: 3;
    }

    .actions {
        position: relative;
        margin-bottom: 10px;
        right: 0px;
        order: 1;
    }
}