.eachInvoice {
    background-color: #eee;
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px;
}

.dataInvoice {
    padding: 30px 10px 15px;
    margin: 10px 0;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #aca0ac;
    color: #fff;
    font-size: 18px;
}

.actions {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    top: 1px;
    right: 10px;
    cursor: pointer;
}

.totalInvoiceUser {
    text-align: right;
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}