.loading {
    animation: is-rotating 1s infinite;
    border: 6px solid #097a7e;
    border-radius: 50%;
    border-top-color: #1eb6bb;
    height: 80px;
    width: 80px;
    margin: 40px auto 40px;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}