.modalEdit {
    position: relative;
}

.remove {
    color: #fff;
    background-color: red;
    border-radius: 50%;
    padding: 1px 4px;
    font-size: 14px;
    position: absolute;
    right: 1px;
    top: 1px;
    cursor: pointer;
}
